// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// @import "home";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

$main-shadow: -7px 7px 17px rgba(0,0,0,0.2);
$small-shadow: -4px 4px 9px rgba(0,0,0,0.1);

body {background: $cream; min-height: 700px;}
.clearfix {clear:both;}
header {
	background: $orange;
	margin-bottom: 100px;
	padding: 11px;
	height: 50px;
}
footer {
	background: $orange;
	margin-top: 100px;
	padding: 11px;
	height: 50px;
}
.contained {width: 960px;}
.topnav {
	float: right;
	li {float: left; margin-left: 20px;}

		a {color: #FFF;
			&:hover  {border-bottom: 2px solid #FFF;}
		}
}
.logo {
	float:left; color: #FFF; font-family: $alt-font-family;
	padding: 4px 0;
	font-size: 25px;
	letter-spacing: 1px;
}

#left-nav {
	margin: 0;
	padding: 0;
	z-index: 1;
	box-shadow: $small-shadow;
	ul {
		width: 100%;
		
		li {
			background: $teal;
			float: left;
			width: 100%;
			height: 60px;
			border-bottom: 2px solid darken($teal, 20%);
			padding: 15px 15px 0 0;
			text-align: right;
			box-shadow: inset -18px 0px 16px -12px rgba(0,0,0,.2);
			a {color: darken(white, 20%);}
			-webkit-transition: $trans-speed;
			&:hover{background: #FFF;
				a {color: $teal;}
			}
			&.active {background: #FFF;
				box-shadow: inset 0 0 0 0;
				a {color: $teal;}
			}
		}
	}
}

#main-content {
	background: white; 
	float: left;
	min-height: 500px;
	padding-top: 20px;
	box-shadow: $main-shadow;
	&.signup {
		h1 {text-align: center;}
		input {
			border-radius: 5px; 
			background: $l-teal; 
			padding: 20px; 
			border: 3px solid $teal; 
			text-align: center; 
			
			margin: 0 auto 30px; 
			font-size: 18px;
			color: #FFF;
			font-weight: 300;
			-webkit-transition: $trans-speed;
			&:focus, &:active {background: $teal; box-shadow: 0 0 9px #EFEFEF;}
		}
	}
}

a { font-family: $body-font-family;}

ul, li {
list-style-type: none;
}
h1, h2, h3, h4, h5, h6, text, ul, li, a {color: $brown; font-weight: $body-font-weight}
h1, h2, h3, h4, h5, h6 { font-family: $alt-font-family!important;}

h2, h3 {color: $orange;}

section { margin-bottom: 30px;}

$med-pic-size: 190px;
$sm-pic-size: 90px;

.image-holder {
	border-radius: $med-pic-size; border: 8px solid $orange; height: $med-pic-size; width: $med-pic-size; margin: 0 auto; box-shadow: inset 0 0 5px;
	&.schedule { 
		background: url("../images/schedule.png");
		background-size: 320px;
	}
	&.school { 
		background: url("../images/drexel.jpg") bottom;
		background-size: 320px; 
	}	
}
#sidebar-container {padding-left:40px; min-height: 250px; padding-right: 0;
	#sidebar {width: 100%;
		.sidebar-box {background: white;  padding: 20px; margin-bottom: 30px;}
		#profile {
			.image-holder { border-radius: $sm-pic-size; height: $sm-pic-size; width: $sm-pic-size; border: none;
				&.profile-pic { background: url("../images/profile.jpg") -38px -3px; background-size: 120px;}
			}
		}
		#upload {background: $teal; color: white; font-size: 35px; font-weight: bold; text-align: center;
		}

		#ads {min-height: 200px;}
	}
}
#upcoming-events {
	ul li {float: left; width: 80px; height: 80px; background: $teal; margin: 10px; color: #FFF; text-align: center; font-family: $alt-font-family; line-height: 80px;}
}
#activities {
	ul li {padding: 12px 0;}
	a {font-weight: bold;}
	border-left: 1px solid $teal;
}
#discussions {
	table tr.even, table tr.alt, table tr {background: #f9f3e6; border: 2px solid #FFF;}
	table tr.even, table tr.alt, table tr:nth-of-type(even) {background: #f2e1bf;}
}
#textbooks {
	ul li {width: 180px; height: 180px; margin: 20px; float: left;
		&.small{width: 90px; height: 90px;}
	}

}